viam-sdk
pyinstaller
google-api-python-client
smbus
pygame
adafruit-circuitpython-ht16k33
raspberrypi-tm1637
adafruit-circuitpython-neopixel
adafruit-blinka
adafruit-circuitpython-pixel-framebuf
Pillow